{% extends 'frontend/base.html' %}
{% load static %}
{% block title %} About Us  {% endblock %}

{% block content %}
    <!-- breadcrumb content begin -->
	<section class="section-breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-12 position-relative text-center">
					<h1 class="mt-0 mb-1">About</h1>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
						</ol>
					</nav>
					<img class="position-absolute card-decor animate-5" src="{% static 'frontend/img/in-avo-4-decor-1.svg' %}" alt="decor" style="top: 25%; left: 5%;">
					<img class="position-absolute card-decor animate-6" src="{% static 'frontend/img/in-avo-4-decor-2.svg' %}" alt="decor" style="top: -22%; left: 30%;">
					<img class="position-absolute card-decor animate-7" src="{% static 'frontend/img/in-avo-4-decor-3.svg' %}" alt="decor" style="top: -16%; left: 72%;">
					<img class="position-absolute card-decor animate-6" src="{% static 'frontend/img/in-avo-4-decor-4.svg' %}" alt="decor" style="top: 89%; left: 94%;">

                </div>
			</div>
		</div>
	</section>
	<!-- breadcrumb content end -->

    <!-- section content begin -->
		<section class="py-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-9 text-center">
						<h1>Putting our clients first <span class="text-highlight">since 1986</span></h1>
						<p class="lead text-muted">For more than 30 years, we've been empowering clients by helping them take control of their financial lives.</p>
					</div>
					<div class="col-12 mt-3">
						<div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 gy-2 gy-md-2 gx-0 gx-md-2 gx-lg-4">
							<div class="col d-flex align-items-start">
								<div class="icon-wrap bg-primary rounded-circle flex-shrink-0 me-2">
									<i class="fas fa-leaf fa-lg text-primary"></i>
								</div>
								<div>
									<h3 class="h4">Philosophy</h3>
									<p class="mb-0">At vero eos etme accusamus iusto odio ent dignissimos deleniti atque corrupti quos ducimus moll quilla blanditiis expedita.</p>
								</div>
							</div>
							<div class="col d-flex align-items-start">
								<div class="icon-wrap bg-primary rounded-circle flex-shrink-0 me-2">
									<i class="fas fa-hourglass-end fa-lg text-primary"></i>
								</div>
								<div>
									<h3 class="h4">History</h3>
									<p class="mb-0">At vero eos etme accusamus iusto odio ent dignissimos deleniti atque corrupti quos ducimus moll quilla blanditiis expedita.</p>
								</div>
							</div>
							<div class="col d-flex align-items-start">
								<div class="icon-wrap bg-primary rounded-circle flex-shrink-0 me-2">
									<i class="fas fa-flag fa-lg text-primary"></i>
								</div>
								<div>
									<h3 class="h4">Culture</h3>
									<p class="mb-0">At vero eos etme accusamus iusto odio ent dignissimos deleniti atque corrupti quos ducimus moll quilla blanditiis expedita.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- section content end -->
		<!-- section content begin -->
		<section class="pt-2 pb-3">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="card" style="background-image: url(img/blockit/in-team-background-1.png); background-repeat: no-repeat;">
							<div class="card-body py-4">
								<div class="row justify-content-center text-center mb-1">
									<div class="col-md-10 col-lg-8">
										<h2 class="fw-bold">Our Leaders</h2>
										<p>We are a group of passionate, independent thinkers who never stop exploring new ways to improve trading for the self-directed investor.</p>
									</div>
								</div>
								<div class="row row-cols-md-1 row-cols-lg-3 text-center gy-2 gy-md-3 gx-0 gx-md-3 gx-lg-5 mb-3">
									<div class="col">
										<img class="mb-1" src="img/blockit/in-team-1.png" alt="image-team" width="200" height="200">
										<h5 class="fw-bold mb-1">Cynthia Dixon</h5>
										<span class="badge bg-primary mb-2">Chief Executive Officer</span>
										<p>Omnis voluptas assumenda est dolor repellendus autem debit officiis</p>
										<div>
											<a class="color-facebook me-2" href="#"><i class="fab fa-facebook-f"></i></a>
											<a class="color-twitter me-2" href="#"><i class="fab fa-x-twitter"></i></a>
											<a class="color-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
										</div>
									</div>
									<div class="col">
										<img class="mb-1" src="img/blockit/in-team-4.png" alt="image-team" width="200" height="200">
										<h5 class="fw-bold mb-1">Bryan Greene</h5>
										<span class="badge bg-primary mb-2">Human Resources</span>
										<p>Omnis voluptas assumenda est dolor repellendus autem debit officiis</p>
										<div>
											<a class="color-behance me-2" href="#"><i class="fab fa-behance"></i></a>
											<a class="color-twitter me-2" href="#"><i class="fab fa-x-twitter"></i></a>
											<a class="color-facebook" href="#"><i class="fab fa-facebook-f"></i></a>
										</div>
									</div>
									<div class="col">
										<img class="mb-1" src="img/blockit/in-team-2.png" alt="image-team" width="200" height="200">
										<h5 class="fw-bold mb-1">Arthur Parker</h5>
										<span class="badge bg-primary mb-2">Executive Assistant</span>
										<p>Omnis voluptas assumenda est dolor repellendus autem debit officiis</p>
										<div>
											<a class="color-dribbble me-2" href="#"><i class="fab fa-dribbble"></i></a>
											<a class="color-twitter me-2" href="#"><i class="fab fa-x-twitter"></i></a>
											<a class="color-pinterest" href="#"><i class="fab fa-pinterest"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- section content end -->
		<!-- section content begin -->
		<section class="py-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10 col-lg-9">
						<div class="row row-cols-1 row-cols-lg-2 align-items-center gy-3">
							<div class="col text-md-center text-lg-start">
								<h4 class="text-secondary mb-1">Number speaks</h4>
								<h1>We always ready<br>for a challenge.</h1>
								<a href="#" class="btn btn-primary rounded-pill mt-2">Learn more<i class="fas fa-arrow-right fa-sm ms-1"></i></a>
							</div>
							<div class="col">
								<div class="row align-items-start gx-0 mb-2 mb-md-4">
									<div class="col-12 col-md-4 text-md-end border-bottom border-primary">
										<h1 class="text-primary">
											<span class="count" data-counter-end="410">0</span>
										</h1>
									</div>
									<div class="col-12 col-md-8 mt-2 mt-md-0 ps-md-4">
										<h5>Trading instruments</h5>
										<p>Reprehenderit qui in svoluptate velit esse quam molestiae vel illum qui dolorem eum fugiat.</p>
									</div>
								</div>
								<div class="row align-items-start gx-0">
									<div class="col-12 col-md-4 text-md-end border-bottom border-primary">
										<h1 class="text-primary">
											<span class="count" data-counter-end="27">0</span>
										</h1>
									</div>
									<div class="col-12 col-md-8 mt-2 mt-md-0 ps-md-4">
										<h5>Countries covered</h5>
										<p>At vero eos et accusamus iusto dignissimos ducimus qui blanditiis praesentium voluta.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- section content end -->

{% endblock %}