{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}Customers{% endblock %}
{% block content %}
    <!-- breadcrumb content begin -->
    <section class="section-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12 position-relative text-center">
                    <h1 class="mt-0 mb-1">About</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                        </ol>
                    </nav>
                    <img class="position-absolute card-decor animate-5"
                         src="{% static 'frontend/img/in-avo-4-decor-1.svg' %}"
                         alt="decor"
                         style="top: 25%;
                                left: 5%">
                    <img class="position-absolute card-decor animate-6"
                         src="{% static 'frontend/img/in-avo-4-decor-2.svg' %}"
                         alt="decor"
                         style="top: -22%;
                                left: 30%">
                    <img class="position-absolute card-decor animate-7"
                         src="{% static 'frontend/img/in-avo-4-decor-3.svg' %}"
                         alt="decor"
                         style="top: -16%;
                                left: 72%">
                    <img class="position-absolute card-decor animate-6"
                         src="{% static 'frontend/img/in-avo-4-decor-4.svg' %}"
                         alt="decor"
                         style="top: 89%;
                                left: 94%">
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb content end -->
    <!-- section content begin -->
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-9">
                    <div class="row align-items-center gx-0 gx-md-3 gx-lg-3">
                        <div class="col-12 col-md-8 col-lg-8">
                            <h1>
                                <span class="text-highlight">We help</span> our customers.
                            </h1>
                            <p class="fs-4 text-muted">To engage investors so their can grow</p>
                            <p>
                                Our customers look to us as guides, and we weave our deep legal and technical experience into our software and services.
                            </p>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 mt-3 mt-md-0 mt-lg-0">
                            <ul class="list-unstyled">
                                <li class="border-bottom pb-2">
                                    <div class="d-flex align-items-start">
                                        <div class="me-2">
                                            <div class="icon-wrap bg-primary rounded-circle flex-shrink-0">
                                                <i class="fas fa-paper-plane fa-lg text-primary"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <h3 class="mb-0">
                                                <span class="count" data-counter-end="35817">35,817</span>
                                            </h3>
                                            <div class="badge bg-primary mb-0">Business launch</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="pt-2">
                                    <div class="d-flex align-items-start">
                                        <div class="me-2">
                                            <div class="icon-wrap bg-primary rounded-circle flex-shrink-0">
                                                <i class="fas fa-user-tie fa-lg text-primary"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <h3 class="mb-0">
                                                <span class="count" data-counter-end="4400">4,400</span>
                                            </h3>
                                            <div class="badge bg-primary mb-0">Investor engaged</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section content end -->
    <!-- section content begin -->
    <section class="pt-2 mb-n2">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 gx-0 gx-md-0 gx-lg-3 gy-3 gy-md-3 gy-lg-0">
                <div class="col">
                    <div class="card position-relative">
                        <div class="card-body">
                            <blockquote class="blockquote text-muted">
                                <p>
                                    I've been trading on CryptoTradeGlobe for six months, and the platform's security and transparency make me feel completely confident with every trade.
                                </p>
                            </blockquote>
                            <div class="mt-4">
                                <h6 class="mb-0">Gabrielle Barger</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card position-relative">
                        <div class="card-body">
                            <blockquote class="blockquote text-muted">
                                <p>
                                    CryptoTradeGlobe connects me to traders from around the world. The global reach and real-time insights have changed the way I trade
                                </p>
                            </blockquote>
                            <div class="mt-4">
                                <h6 class="mb-0">Melvin Cortez</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
