{% load static %}

	<header class="navbar navbar-expand-lg navbar-light">
		<div class="container">
			<a class="navbar-brand" href="{% url 'frontend:home' %}">
				<img src="{% static 'frontend/img/user/header-logo-UZmx21.svg' %}" alt="logo" width="110" height="40" class="d-inline-block">
			</a>
			<div class="collapse navbar-collapse d-flex justify-content-between d-none d-xl-block" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link {% if navbar == 'home' %} active {% endif %}" href="{% url 'frontend:home' %}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if navbar == 'markets' %} active {% endif %} " href="{% url 'frontend:markets' %}">Markets</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdownCompany" data-bs-toggle="dropdown" aria-expanded="false">Company</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item {% if navbar == 'about' %} active {% endif %}" href="{% url 'frontend:about' %}">About</a>
							</li>
							<li>
								<a class="dropdown-item {% if navbar == 'contact' %} active {% endif %}" href="{% url 'frontend:contact' %}">Contact</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdownResources" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item {% if navbar == 'customer' %} active {% endif %}" href="{% url 'frontend:customer' %}">Customers</a>
							</li>
							<li>
								<a class="dropdown-item {% if navbar == 'legal' %} active {% endif %}" href="{% url 'frontend:legal' %}">Legal Docs<i class="fas fa-gavel fa-sm"></i></a>
							</li>
						</ul>
					</li>
				</ul>
				<div class="optional-link d-flex align-items-center ms-4 d-none d-xl-block">
					<a href="signin.html" class="btn btn-link link-secondary text-decoration-none">Sign in</a>
					<a href="#" class="btn btn-outline-primary rounded-pill">Get started<i class="fas fa-arrow-right fa-sm ms-1"></i></a>
				</div>
			</div>
		</div>
	</header>