{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}Legal{% endblock %}
{% block content %}
    <!-- breadcrumb content end -->
    <!-- breadcrumb content begin -->
    <section class="section-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12 position-relative text-center">
                    <h1 class="mt-0 mb-1">About</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                        </ol>
                    </nav>
                    <img class="position-absolute card-decor animate-5"
                         src="{% static 'frontend/img/in-avo-4-decor-1.svg' %}"
                         alt="decor"
                         style="top: 25%;
                                left: 5%">
                    <img class="position-absolute card-decor animate-6"
                         src="{% static 'frontend/img/in-avo-4-decor-2.svg' %}"
                         alt="decor"
                         style="top: -22%;
                                left: 30%">
                    <img class="position-absolute card-decor animate-7"
                         src="{% static 'frontend/img/in-avo-4-decor-3.svg' %}"
                         alt="decor"
                         style="top: -16%;
                                left: 72%">
                    <img class="position-absolute card-decor animate-6"
                         src="{% static 'frontend/img/in-avo-4-decor-4.svg' %}"
                         alt="decor"
                         style="top: 89%;
                                left: 94%">
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb content end -->
    <!-- section content begin -->
    <section class="pt-5 pb-4">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gx-0 gx-md-5 gx-lg-5">
                <div class="col-12 col-md-12 col-lg-12 mb-md-2 mb-lg-4">
                    <h1 class="text-center">
                        Company <span class="text-highlight">legal docs</span>
                    </h1>
                </div>
                <div class="border-end-0 border-end-md border-end-lg">
                    <div class="icon-wrap bg-primary rounded-circle flex-shrink-0 mb-2 mb-md-3 mb-lg-3">
                        <i class="fas fa-file fa-lg text-primary"></i>
                    </div>
                    <h3>Terms of Service</h3>
                    <p>Read the Terms of Service and License Agreement for Blockit as well as our BlockitApp & Developer Agreements.</p>
                    <hr class="d-md-none d-lg-none my-3 my-md-3">
                </div>
                <div class="border-end-md-0 border-end-lg">
                    <div class="icon-wrap bg-primary rounded-circle flex-shrink-0 mb-2 mb-md-3 mb-lg-3">
                        <i class="fas fa-globe fa-lg text-primary"></i>
                    </div>
                    <h3>Policies</h3>
                    <p>
                        Find out more about what information we collect at Blockit, how we use it, and what control you have over your data.
                    </p>
                    <hr class="d-md-none d-lg-none my-3 my-md-3">
                </div>
                <div class="d-md-none d-lg-block">
                    <div class="icon-wrap bg-primary rounded-circle flex-shrink-0 mb-2 mb-md-3 mb-lg-3">
                        <i class="fas fa-shield-alt fa-lg text-primary"></i>
                    </div>
                    <h3>Security</h3>
                    <p>Learn more about how we keep your work and personal data safe when you're using our services.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- section content end -->
    <!-- section content begin -->
    <!-- section content end -->
{% endblock content %}
